html > body {
    margin: 0 !important;
  }
  .main-section {
    padding: 1rem 1rem;
  }
  .highlight {
      color: darkgreen;
      font-weight: bold;
  }
  .title {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgreen;
    font-weight: bold;
    text-shadow: 2px 1px 2px grey;
        
  }
  .navheader {
      font-size: 30px;
      text-shadow: 2px 2px 2px black;
      font-family: Gill Sans;
        }
        .backsplash {
                     background-color:ghostwhite;
        }
        .border {
            border-radius: 8px;
        }
        .rightalign {
            position: absolute;
            float:right;
        }
        .subtitle {
            font-size: 13px;
            font-style: italic;
            font-family: Calibri;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        th {
          font-weight: bold;
        }
        .button {
          color: darkgreen;
          float: right;
                }