<template>
  <div id="app" >
<NavBar />

  </div>
</template>

<style lang="scss">

</style>

<script>

import NavBar from './components/NavBar.vue'
export default {
  components: { NavBar },  
}
</script>